@font-face {
  font-family: "Onest";
  src: url(../assets/fonts/onest/TTF/OnestRegular1602-hint.ttf);
  font-weight: 400;
}
@font-face {
  font-family: "Onest";
  src: url(../assets/fonts/onest/TTF/OnestMedium1602-hint.ttf);
  font-weight: 500;
}
@font-face {
  font-family: "Onest";
  src: url(../assets/fonts/onest/TTF/OnestBold1602-hint.ttf);
  font-weight: 700;
}
